{{!-- html for devour --}}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header text-center">On your table</h4>
      <div class="card-body">
        {{#each burgers}}
        {{#unless this.devoured}}
        <div class="input-group my-8">
          <li class="form-control">{{id}}. {{burger_name}}</li> <button class="btn btn-warning devour-button ml-3"
            data-id="{{id}}" type="submit">Devour It!</button>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- html for Burgers Ate --}}
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header text-center">Burgers you ate</h4>
      <div class="card-body">
        {{#each burgers}}
        {{#if this.devoured}}
        <div class="input-group my-4">
          <li class="form-control">{{this.id}}. {{this.burger_name}}</li><button
            class="btn btn-info reorder-button ml-3" data-id="{{id}}" type="submit">Re-order Burger!</button>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>